---
title: Rainettes - Info
---

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 hidden-xs bigcard map-holder">
      <!-- The map will be drawn in this div -->
      <div id="map"></div>

      <script src="https://maps.google.com/maps/api/js?key=AIzaSyCNpWnXhSrFjYG0FDz3xUl_y1kglYreWg4"></script>

      <!-- Include Dependencies of GMaps for Rails gem -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
        <script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>
        <script src="https://cdn.rawgit.com/apneadiving/Google-Maps-for-Rails/master/js_compilation/gmaps_google.js"></script>

      <script type="text/javascript">
        $(document).on('ready', function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers([
                { "lat": 48.855203 , "lng": 2.362578 }
              ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(16);
          });
        })
      </script>
    </div>
    <div class="col-xs-12 col-sm-6 bigcard info-holder">
      <div class="informations">
        <%= image_tag("outsiderainette.jpg") %>
        <div class="infotxt">
          <p id="address"><% link_to "http://maps.google.com/?q=" + t(:address) do %><%= t(:address) %><% end %></p>
          <div id="horaires">
            <p><%= t(:info)[:hours1] %></p>
            <p><%= t(:info)[:hours2] %></p>
            <p><%= t(:info)[:bookable] %></p>
          </div>
          <div id="contact">
            <p id="howtobook"><%= t(:info)[:howtobook] %></p>
            <p id="boldinfo"><%= t(:info)[:telephone] %> - <%= t(:info)[:email] %> </p>
            <p id="lafourchette"><% link_to "https://module.lafourchette.com/fr_FR/module/276057-2c79b" do %><%= t(:info)[:bookonline] %><% end %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
